<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="./fp" method="post">
        <p>
            <label>姓名</label>
            <input type="text" name="username">
        </p>
        
        <p>
            <label>密码</label>
            <input type="password" name="password">
        </p>
        
        <p>
            <label>爱好</label>
            <input type="checkbox" name="like" value="money"> 金钱
            <input type="checkbox" name="like" value="power"> 权力
        </p>
        
        <p>
            <input type="submit" value="submit" name="submit">
        </p>
        </form>
    </div>
</body>
</html>